.DS_Store
.idea
.ipynb_checkpoints/
.vscode
.git_backup*/
__pycache__/
.pytest_cache/
*.bin
*.pkl
*.pt
*.pyc
input.txt
env/
venv/
wandb/
run_logs/
out/**
!out/
!out/**/
!out/**/.gitkeep
**/out-*/**
!**/out-*/
!**/out-*/.gitkeep
seq*-curriculum*/
!seq*-curriculum*/
seq*-curriculum*/**
!seq*-curriculum*/.gitkeep
Report/*smoke/
Report/trajectory_signature_proposal/*random_avg*.json
Report/trajectory/trajectory_signature_proposal/*random_avg*.json
